<%- include('./header.ejs') %>
        <!-- Page Content-->
        <div class="container">
            <br>

            <div class="ui raised segment">
                <a class="ui blue ribbon label">게시판</a>


                <div class="ui blue fluid card">
                    <div class="content">
                        <table border="1" width="800" align="center">
                            <tr align="center">
                                <p>
                                    <td colspan="3">게시판</td>
                                </p>
                            </tr>
                            <tr align="center">
                                <td>번호</td>
                                <td>제목</td>
                                <td>작성자</td>
                                <td>작성일</td>
                            </tr>
                            <div class="ui very relaxed selection celled list">
                                <% var noStart = posts.length; for(var i=0; i < posts.length; i++){ var curTitle=posts[i]._doc.title;
                                    var curNo=noStart - i; var createdDate = posts[i]._doc.created_at; %>
                                    <tr align="center">
                                        <td>
                                            <%= curNo %>
                                        </td>
                                        <td>
                                            <div class="fourteen wide column" onclick="javascript:window.location='/showpost/<%=posts[i]._id %>'">
                                            <%= curTitle %>
                                        </td>
                                        <td>admin</td>
                                        <td><%=createdDate%></td>
                                    </tr>
                                    <% } %>
                            </div>
                        </table>




                        <br><br>
                        <a class="ui button" href='/postadd'>글쓰기</a>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; Your Website 2022</div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>